@page "/"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> localizer

<PageTitle>
    @localizer[HomeTextKey]
</PageTitle>

<h1>
    @localizer[HomeTextKey]
</h1>

@localizer[WelcomeToTextKey, nameof(FairPlayDating)]
@code
{
    [ResourceKey(defaultValue: "Home")]
    public const string HomeTextKey = "HomeText";
    [ResourceKey(defaultValue: "Welcome to {0}")]
    public const string WelcomeToTextKey = "WelcomeToText";
}