@inject IConfiguration configuration
@{
    string payPalClientId = configuration["PayPalClientId"]!;
    string payPalScriptSrc = $"https://www.paypal.com/sdk/js?client-id={payPalClientId}&enable-funding=venmo&currency=USD";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Earn the money you deserve from your video content creations with instant access to monetization options" />
    <meta name="keywords" content="money, monetization, creator, video, content creator, YouTube, portal" />
    <meta name="robots" content="index, follow" />

    <title>FairPlayTube: The Next Generation of Video Sharing Portals!</title>
    <base href="/" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D7Q1K6LFLN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-D7Q1K6LFLN');
    </script>
    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "8tkjtablaw");
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FairPlayTube.styles.css" />
    <link rel="stylesheet" href="custom.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" href="favicon.png" />

    <!--Paypal-->
    <script src="@payPalScriptSrc" data-sdk-integration-source="button-factory"></script>
    <script src="scripts/paypal/paypal.js"></script>
    <!--Paypal-->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />

    <!--VideoJS-->
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />


    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="scripts/videojs/video.min.js"></script>
    <script src="scripts/videojs.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <!-- Set the default theme -->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
    <loading-theme storage-name="theme"></loading-theme>
</body>

</html>

@code
{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    private static IComponentRenderMode ServerNoPrerender = new InteractiveServerRenderMode(prerender: false);
    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? ServerNoPrerender : null;
}
