@page "/"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> localizer
<PageTitle>@localizer[HomeTextKey]</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <div>Your claims</div>
        @foreach (var singleClaim in context.User.Claims)
        {
            <div>
                @singleClaim.ToString()
            </div>
        }
    </Authorized>
</AuthorizeView>
@code
{
    [ResourceKey(defaultValue: "Home")]
    public const string HomeTextKey = "HomeText";
}