@page "/"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> localizer
<PageTitle>@localizer[HomeTextKey]</PageTitle>

<FluentLabel Typo="Typography.H1">
    Hello, world!
</FluentLabel>

<FluentLabel Typo="Typography.Body">
    Welcome to your new app.
</FluentLabel>


<AuthorizeView>
    <Authorized>
        <div>
            <FluentLabel Typo="Typography.Body">
                Your claims
            </FluentLabel>
        </div>
        @foreach (var singleClaim in context.User.Claims)
        {
            <div>
                <FluentLabel Typo="Typography.Body">
                    @singleClaim.ToString()
                </FluentLabel>
            </div>
        }
    </Authorized>
</AuthorizeView>
@code
{
    [ResourceKey(defaultValue: "Home")]
    public const string HomeTextKey = "HomeText";
}