@page "/Creator/VideoInfographic/{VideoInfoId:long}"
@using FairPlayCombined.Common
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Models.FairPlayTube.VideoInfo
@using FairPlayCombined.Models.Pagination
@using FairPlayCombined.Services.Common
@using FairPlayCombined.Services.FairPlayTube
@using FairPlayTube.Components.Spinners

@rendermode NoPreRenderServerMode
@inject IJSRuntime jsRuntime
@inject VideoInfoService videoInfoService
@inject IUserProviderService userProviderService
@inject OpenAIService openAIService
@inject VideoCaptionsService videoCaptionsService

<PageTitle>
    Video Infographic
</PageTitle>

<FluentLabel Typo="Typography.H3">
    Video Infographic
</FluentLabel>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>


<div>
    @if (!String.IsNullOrWhiteSpace(this.GeneratedinfographicUri))
    {
        <a data-enhance-nav="false" href="@this.GeneratedinfographicUri" target="_blank">
            <img class="@ThemeConfiguration.Images.ThumbnailDefaultCss" src="@this.GeneratedinfographicUri" />
        </a>
        <p>
            <FluentLabel Typo="Typography.Body">
                @this.RevisedPrompt
            </FluentLabel>
        </p>
    }
</div>

@code
{
    [Parameter]
    public long? VideoInfoId { get; set; }
    private static IComponentRenderMode NoPreRenderServerMode = new InteractiveServerRenderMode(prerender: false);
    private bool IsBusy { get; set; }
    private CancellationTokenSource cancellationTokenSource = new();
    private string? GeneratedinfographicUri { get; set; }
    private string? RevisedPrompt { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.IsBusy = true;
        StateHasChanged();
        var videoInfoModel = await this.videoInfoService.GetVideoInfoByIdAsync(id: this.VideoInfoId!.Value,
        cancellationToken: this.cancellationTokenSource.Token);
        var englishCaptions = await this.videoCaptionsService
        .GetVideoCaptionsByVideoInfoIdAndLanguageAsync(videoInfoId: videoInfoModel.VideoInfoId,
        language: "en-US", cancellationToken: this.cancellationTokenSource.Token);
        string prompt = $"Infographic for video based on the following data. Video Title: {videoInfoModel.Description}. Video Captions: {englishCaptions}";
        if (prompt.Length > 4000)
            prompt = prompt.Substring(0, 4000);
        var result = await this.openAIService.GenerateDallE3ImageAsync(prompt, this.cancellationTokenSource.Token);
        if (result != null)
        {
            this.GeneratedinfographicUri = result!.data![0]!.url!;
            this.RevisedPrompt = result!.data[0]!.revised_prompt;
        }
        this.IsBusy = false;
        StateHasChanged();
    }
}
