@implements IDisposable

@inject NavigationManager NavigationManager

<FluentNavLink Href="/">Home</FluentNavLink>
<AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </div>
        <FluentNavLink Href="/FairPlayDating/ApplicationUserVouchCreate">Application User Vouch Create</FluentNavLink>
    </Authorized>
    <NotAuthorized>
        <FluentNavLink Href="Account/Login">Login</FluentNavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

