@inherits LayoutComponentBase


<FluentMainLayout NavMenuWidth="400">
    <Header>
        <FluentLabel Typo="Typography.H3" Alignment="HorizontalAlignment.Center">
            @nameof(FairPlayAdminPortal)
        </FluentLabel>
    </Header>
    <SubHeader>
        <FluentLabel Typo="Typography.H2" Alignment="HorizontalAlignment.Center">
            Your FairPlay platform Admininistation Portal
        </FluentLabel>
    </SubHeader>
    <Body>
        @Body
    </Body>
    <NavMenuContent>
        <NavMenu></NavMenu>
    </NavMenuContent>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />