@inherits LayoutComponentBase


<FluentMainLayout NavMenuWidth="400">
    <Header>
        <h3>
            @nameof(FairPlayAdminPortal)
        </h3>
    </Header>
    <SubHeader>
        <p>
            Your FairPlay platform Admininistation Portal
        </p>
    </SubHeader>
    <Body>
        @Body
    </Body>
    <NavMenuContent>
        <NavMenu></NavMenu>
    </NavMenuContent>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />