@implements IDisposable

@inject NavigationManager NavigationManager

<FluentNavLink Href="/">Home</FluentNavLink>
<AuthorizeView Roles="@FairPlayCombined.Common.Constants.RoleName.SystemAdmin">
    <Authorized>
        <FluentNavGroup Title="Accounts">
            <FluentNavLink Href="Account/Manage">Manage Account</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Users">
            <FluentNavLink Href="/UserList">User List</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Roles">
            <FluentNavLink Href="/RoleList">Role List</FluentNavLink>
            <FluentNavLink Href="/RoleCreate">Role Create</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Resources">
            <FluentNavLink Href="/ResourceManage">Resource Manage</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Themes">
            <FluentNavLink Href="/ThemeConfigurationManage">ThemeConfigurationManage</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Configuration">
            <FluentNavLink Href="/ConfigurationSecretsManage">ConfigurationSecretsManage</FluentNavLink>
            <FluentNavLink Href="/PromptsEditor">Prompts Editor</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Apps">
            <FluentNavLink Href="/FairPlayDating">FairPlayDating</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Prompts">
            <FluentNavLink Href="/OpenAIPrompts">OpenAI Prompts</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="AI">
            <FluentNavLink Href="/AIAssistant">AI Assistant</FluentNavLink>
        </FluentNavGroup>
        <FluentNavGroup Title="Funds">
            <FluentNavLink Href="/UserFundsUniqueCodes">Funds Codes</FluentNavLink>
        </FluentNavGroup>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <FluentNavLink Href="Account/Register">Register</FluentNavLink>
        <FluentNavLink Href="Account/Login">Login</FluentNavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

