@page "/"
@using Blazored.Toast.Services
@using FairPlayCombined.Common.FairPlaySocial
@using FairPlayCombined.Common.GeneratorsAttributes
@using FairPlayCombined.Models.FairPlaySocial.Notification
@using FairPlayCombined.Models.FairPlaySocial.Post
@using FairPlayCombined.Models.Pagination
@using FairPlayCombined.Services.FairPlaySocial
@using Microsoft.AspNetCore.SignalR.Client
@rendermode RenderMode.InteractiveServer
@attribute [StreamRendering(enabled: true)]
@inject PostService postService
@inject IToastService toastService
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

@if (this.IsBusy)
{
    <p>Loading...</p>
}
<div class="grid-container">
    <QuickGrid ItemsProvider="ItemsProvider" Pagination="paginationState">
        <TemplateColumn>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        @context.OwnerApplicationUserName
                    </h5>
                    <p class="card-text">
                        @context.Text
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="paginationState"></Paginator>


@code {
    private const string PendingNotificationsMessage = """You have pending notifications. Use the "Refresh" button to reflect latest changes""";
    private HubConnection? HubConnection { get; set; }
    private Queue<PostNotificationModel> NotificationsQueue { get; set; } = new();
    private GridItemsProvider<PostModel>? ItemsProvider;
    PaginationState paginationState = new()
        {
            ItemsPerPage = FairPlayCombined.Common.Constants.Pagination.PageSize
        };
    private CancellationTokenSource cancellationTokenSource = new();
    private bool IsBusy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ItemsProvider = async req =>
        {
            this.IsBusy = true;
            StateHasChanged();
            PaginationRequest paginationRequest = new PaginationRequest()
                {
                    PageSize = paginationState.ItemsPerPage,
                    StartIndex = req.StartIndex,
                    SortingItems = req.GetSortByProperties().Select(p => new SortingItem()
                    {
                        PropertyName = p.PropertyName,
                        SortType = p.Direction == SortDirection.Ascending ? SortType.Ascending : SortType.Descending
                    }).ToArray()
                };

            var items = await this.postService
        .GetPaginatedPostWithCustomProjectionAsync(paginationRequest,
        p => new PostModel()
            {
                PostId = p.PostId,
                PostVisibilityId = p.PostVisibilityId,
                PhotoId = p.PhotoId,
                PostTypeId = p.PostTypeId,
                ReplyToPostId = p.ReplyToPostId,
                GroupId = p.GroupId,
                Text = p.Text,
                OwnerApplicationUserId = p.OwnerApplicationUserId,
                OwnerApplicationUserName = p.OwnerApplicationUser.UserName
            }, cancellationToken: this.cancellationTokenSource.Token
        );
            var result = GridItemsProviderResult.From<PostModel>(items!.Items!, items.TotalItems);
            this.IsBusy = false;
            StateHasChanged();
            return result;
        };
        var hubUrl = navigationManager.ToAbsoluteUri(FairPlayCombined.Common.FairPlaySocial.Constants.Hubs.HomeFeedHub);
        this.HubConnection = new HubConnectionBuilder()
            .WithUrl(hubUrl)
            .Build();
        this.HubConnection.On(Constants.Hubs.ReceiveMessage,
            (Action<PostNotificationModel>)((model) =>
        {
            this.NotificationsQueue.Enqueue(model);
            if (this.NotificationsQueue.Count == 1)
                this.toastService!
                        .ShowSuccess(PendingNotificationsMessage);
            StateHasChanged();
        }));
#pragma warning restore VSTHRD101 // Avoid unsupported async delegates
        await this.HubConnection.StartAsync();
    }
}