@page "/Account/ForgotPasswordConfirmation"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ForgotPasswordConfirmation> localizer
<PageTitle>@localizer[ForgotPasswordConfirmationTextKey]</PageTitle>

<h1>@localizer[ForgotPasswordConfirmationTextKey]</h1>
<p>
    @localizer[PleaseCheckYourEmailTextKey]
</p>

@code
{
    #region Resource Keys
    [ResourceKey(defaultValue: "Forgot password confirmation")]
    public const string ForgotPasswordConfirmationTextKey = "ForgotPasswordConfirmationText";
    [ResourceKey(defaultValue: "Please check your email to reset your password")]
    public const string PleaseCheckYourEmailTextKey = "PleaseCheckYourEmailText";
    #endregion Resource Keys
}