@page "/Account/InvalidUser"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<InvalidUser> localizer

<PageTitle>@localizer[InvalidUserTextKey]</PageTitle>

<h3>@localizer[InvalidUserTextKey]</h3>

<StatusMessage />

@code
{
    #region Resource Keys
    [ResourceKey(defaultValue: "Invalid user")]
    public const string InvalidUserTextKey = "InvalidUserText";
    #endregion Resource Keys
}