@page "/Account/InvalidPasswordReset"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<InvalidPasswordReset> localizer

<PageTitle>@localizer[InvalidPasswordResetTextKey]</PageTitle>

<h1>@localizer[InvalidPasswordResetTextKey]</h1>
<p>
    @localizer[InvalidPasswordResetLinkTextKey]
</p>

@code
{
    #region Resource Keys
    [ResourceKey(defaultValue: "Invalid password reset")]
    public const string InvalidPasswordResetTextKey = "InvalidPasswordResetText";
    [ResourceKey(defaultValue: "The password reset link is invalid")]
    public const string InvalidPasswordResetLinkTextKey = "InvalidPasswordResetLinkText";
    #endregion Resource Keys
}