@page "/Account/ResetPasswordConfirmation"
@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ResetPasswordConfirmation> localizer

<PageTitle>@localizer[ResetPasswordConfirmationTextKey]</PageTitle>

<h1>@localizer[ResetPasswordConfirmationTextKey]</h1>
<p>
    @localizer[PasswordResetTextKey]. <a href="Account/Login">@localizer[ClickToLoginTextKey]</a>.
</p>

@code
{
    #region Resource Keys
    [ResourceKey(defaultValue: "Reset password confirmation")]
    public const string ResetPasswordConfirmationTextKey = "ResetPasswordConfirmationText";
    [ResourceKey(defaultValue: "Your password has been reset")]
    public const string PasswordResetTextKey = "PasswordResetText";
    [ResourceKey(defaultValue: "Click here to log in")]
    public const string ClickToLoginTextKey = "ClickToLoginText";
    #endregion Resource Keys
}
