@using FairPlaySocial.Components.Notifications
@inherits LayoutComponentBase

@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CultureSelector @rendermode="RenderMode.InteractiveServer" RedirectUri="@navigationManager.Uri"></CultureSelector>
            <AuthorizeView>
                <Authorized>
                    <UserMessage></UserMessage>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<Blazored.Toast.BlazoredToasts @rendermode="RenderMode.InteractiveServer"
                               DisableTimeout="true"
                               Position="Blazored.Toast.Configuration.ToastPosition.TopRight"></Blazored.Toast.BlazoredToasts>