@page "/Home"
@using FairPlayCombined.Common.FairPlaySocial.Enums
@using FairPlaySocial.ClientServices
@using FairPlaySocial.ClientServices.Models
@using FairPlaySocial.MAUI.Auth
@using FairPlaySocial.MAUI.Components.Spinners
@using FairPlaySocial.MAUI.Helpers
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.Kiota.Abstractions.Authentication
@using Microsoft.Kiota.Http.HttpClientLibrary


<h1>Home</h1>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<div class="grid-container">
    <QuickGrid ItemsProvider="ItemsProvider" Pagination="paginationState">
        <TemplateColumn>
            <div class="card">
                @if (context.PhotoId != null)
                {
                    <img src="@($"{ApiInfo.ApiBaseUrl}api/photoimage/{context.PhotoId}")"
                         class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <h5 class="card-title">
                        @context.OwnerApplicationUserName
                    </h5>
                    <p class="card-text">
                        @context.Text
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </TemplateColumn>
    </QuickGrid>
</div>
<div class="mb-3">
    <Paginator State="paginationState"></Paginator>
</div>
@if (UserContext.IsAuthenticated)
{
    <EditForm Model="createPostModel" OnValidSubmit="OnValidSubmitAsync">
        <div class="mb-3">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" type="button" 
            @onclick="OnSelectImageButtonClickedAsync">Add Image</button>
        </div>
        <div class="mb-3">
            <label class="form-label">Text</label>
            <InputTextArea class="form-control" @bind-Value="this.createPostModel.Text"></InputTextArea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </EditForm>
}

@code
{
    [Inject(Key = "AuthenticatedApiClient")]
    private ApiClient? authenticatedApiClient { get; set; }
    [Inject(Key = "AnonymousApiClient")]
    private ApiClient? anonymousApiClient { get; set; }
    private bool IsBusy { get; set; }
    private GridItemsProvider<PostModel>? ItemsProvider;
    private PaginationState paginationState = new()
        {
            ItemsPerPage = FairPlayCombined.Common.Constants.Pagination.PageSize
        };
    private CreatePostModel createPostModel = new()
        {
            PostTypeId = (int)PostType.Post,
            PostVisibilityId = (int)PostVisibility.Public
        };
    private CreatePhotoModel createPhotoModel = new();


    protected override void OnInitialized()
    {
        ItemsProvider = async req =>
        {
            try
            {
                this.IsBusy = true;
                StateHasChanged();
                var apiResult = await anonymousApiClient!.Api.Posts.GetPaginatedPosts.GetAsync(
                    requestConfiguration =>
                    {
                        requestConfiguration.QueryParameters.StartIndex = req.StartIndex;
                    });
                var result = GridItemsProviderResult.From<PostModel>(apiResult!.Items!, apiResult!.TotalItems!.Value);
                this.IsBusy = false;
                StateHasChanged();
                return result;
            }
            catch (Exception ex)
            {
                await Application.Current!.MainPage!.DisplayAlert("Error", ex.Message, "OK");
                return GridItemsProviderResult.From<PostModel>(Array.Empty<PostModel>(), 0);
            }
        };
    }

    private async Task OnSelectImageButtonClickedAsync()
    {
        if (MediaPicker.IsCaptureSupported)
        {
            var result = await MediaPicker.PickPhotoAsync();
            using var stream = await result.OpenReadAsync();
            byte[] photoBytes = new byte[stream.Length];
            stream.Read(photoBytes, 0, (int)stream.Length);
            stream.Close();
            this.createPhotoModel.Name = result.FileName;
            this.createPhotoModel.Filename = result.FileName;
            this.createPhotoModel.PhotoBytes = Convert.ToBase64String(photoBytes);
            var createPhotoResult = 
            await this.authenticatedApiClient!.Api.Photos.CreatePhoto.PostAsync(createPhotoModel);
            if (createPhotoResult.HasValue)
            {
                this.createPostModel.PhotoId = createPhotoResult.Value;
            }
        }
        else
        {
            await Application.Current!.MainPage!.DisplayAlert("Not support", "Your devices does not support capturing photos","OK");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var result = await this.authenticatedApiClient!.Api.Posts.CreatePost.PostAsync(this.createPostModel);
        if (result.HasValue)
        {
            await this.paginationState.SetCurrentPageIndexAsync(0);
        }
    }
}