@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@layout AccountLayout

@inject IStringLocalizer<ManageLayout> localizer

<h1>@localizer[ManageAccountTextKey]</h1>

<div>
    <h2>@localizer[ChangeAccountSettingsTextKey]</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>

@code
{
    #region Resource Keys
    [ResourceKey(defaultValue: "Manage your account")]
    public const string ManageAccountTextKey = "ManageAccountText";
    [ResourceKey(defaultValue: "Change your account settings")]
    public const string ChangeAccountSettingsTextKey = "ChangeAccountSettingsText";
    #endregion Resource Keys
}
