<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FairPlayAdminPortal.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <FluentDesignTheme @rendermode="RenderMode.InteractiveServer"
                       @bind-Mode="@Utilities.ThemesHelper.DesignThemeMode"
                       @bind-OfficeColor="@Utilities.ThemesHelper.OfficeColor" />
</body>

</html>
