@page "/User/MyFunds"
@implements IAsyncDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]

@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Models.PayPal
@using FairPlayCombined.WebComponents.PayPal

<PageTitle>
    @Localizer![MyFundsTextKey]
</PageTitle>

<FluentLabel Typo="Typography.H3">
    @Localizer![MyFundsTextKey]
</FluentLabel>

@if (this.AvailableFunds != null)
{
    <FluentLabel Typo="Typography.Header">@Localizer![AvailableFundsTextKey]: @(this.AvailableFunds.Value.ToString("c"))</FluentLabel>
}

<div>
    <FluentLabel Typo="Typography.Body">@Localizer![UseCodeTextKey]:</FluentLabel>
    <FluentTextField @bind-Value="@this.CodeToClaim" style="width:100%;"></FluentTextField>
    <FluentButton Type="ButtonType.Button" OnClick="OnClaimCodeClickAsync" Appearance="Appearance.Accent">@Localizer![ClaimCodeTextKey]</FluentButton>
</div>
<FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
<div>
    <PayPalCheckout OnPayPalOrderApproved="OnPayPalOrderApprovedAsync" OnError="OnError"></PayPalCheckout>
</div>


