@page "/Creator/CreateVideoPlan"
@implements IAsyncDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]

@using FairPlayCombined.Common
@using FairPlayCombined.Common.FairPlayTube.Enums
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.AzureVideoIndexer
@using FairPlayCombined.Models.FairPlayTube.VideoInfo
@using FairPlayCombined.Models.FairPlayTube.VideoPlan
@using FairPlayTube.SharedUI.Components.Spinners
@using Google.Apis.YouTube.v3.Data

<PageTitle>
    @Localizer![CreateVideoPlanTextKey]
</PageTitle>

<FluentLabel Typo="Typography.H3">
    @Localizer![CreateVideoPlanTextKey]
</FluentLabel>
<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<FluentEditForm FormName="frmCreateVideoPlan" Model="this.CreateVideoPlanModel"
                OnValidSubmit="OnValidSubmitAsync">
    <div>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <FluentValidationSummary></FluentValidationSummary>
    </div>
    <div>
        <FluentLabel Typo="Typography.Body">@Localizer![NameTextKey]</FluentLabel>
        <FluentTextField @bind-Value="this.CreateVideoPlanModel.VideoName" Maxlength="50" style="width:100%;"></FluentTextField>
    </div>
    <div>
        <FluentAccordion>
            <FluentAccordionItem Heading="@Localizer![DescriptionTextKey]" Expanded="true">
                <FluentTextArea @bind-Value="this.CreateVideoPlanModel.VideoDescription" Rows="10" Maxlength="500" style="width:100%;"></FluentTextArea>
            </FluentAccordionItem>
        </FluentAccordion>
    </div>
    <div>
        <FluentAccordion>
            <FluentAccordionItem Heading="@Localizer![VideoScriptTextKey]" Expanded="true">
                <FluentTextArea @bind-Value="this.CreateVideoPlanModel.VideoScript" Rows="40" Maxlength="3000" style="width:100%;"></FluentTextArea>
            </FluentAccordionItem>
        </FluentAccordion>
    </div>
    <div>
        @if (!this.IsPlanCreated)
        {
            <FluentButton Type="ButtonType.Submit">@Localizer![SaveTextKey]</FluentButton>
        }
        else
        {
            <FluentLabel Typo="Typography.Body">@Localizer![PlanCreatedTextKey]</FluentLabel>
        }
    </div>
</FluentEditForm>

<div>
    @if (!String.IsNullOrWhiteSpace(this.GeneratedYouTubeThumbnailUri))
    {
        <a data-enhance-nav="false" href="@this.GeneratedYouTubeThumbnailUri" target="_blank">
            <img class="@ThemeConfiguration.Images.ThumbnailDefaultCss" src="@this.GeneratedYouTubeThumbnailUri" />
        </a>
        <p>
            <FluentLabel Typo="Typography.Body">
                @this.RevisedPrompt
            </FluentLabel>
        </p>
    }
</div>