@page "/Creator/VideoCaptions/VideoInfo{VideoInfoId:long}/YouTube/{YouTubeVideoId}"
@implements IAsyncDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]
@attribute [StreamRendering(enabled: true)]

@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.FairPlaySocial.VideoCaptions
@using Google.Apis.YouTube.v3
@using System.Text


<FluentLabel Typo="Typography.H3">@Localizer![VideoCaptionsTextKey]</FluentLabel>

@if (!String.IsNullOrWhiteSpace(this.YouTubeVideoId))
{
    <a data-enhance-nav="false" href="@($"https://youtu.be/{this.YouTubeVideoId}")" target="_blank">@Localizer![ViewOnYouTubeTextKey]</a>
}

@if (this.Items != null)
{
    <FluentDataGrid Items="this.Items!.AsQueryable()">
        <PropertyColumn Property="@(p=>p.Language)" Title="@Localizer![LanguageTextKey]"></PropertyColumn>
        <TemplateColumn>
            <FluentButton Type="ButtonType.Button" Appearance="Appearance.Accent"
                          OnClick="@( async () => await OnUploadToYouTubeButtonClickedAsync(context))">
                @Localizer![UploadToYouTubeTextKey]
            </FluentButton>
        </TemplateColumn>
    </FluentDataGrid>
}