@page "/Creator/VideoLinkedInArticle/{VideoInfoId:long}"
@implements IAsyncDisposable

@attribute [Authorize(Roles = FairPlayCombined.Common.Constants.RoleName.BasicPlanUser)]

@using FairPlayCombined.Common
@using FairPlayCombined.Interfaces
@using FairPlayCombined.Interfaces.Common
@using FairPlayCombined.Interfaces.FairPlayTube
@using FairPlayCombined.Models.FairPlayTube.VideoInfo
@using FairPlayCombined.Models.Pagination
@using FairPlayTube.SharedUI.Components.Spinners
@using FairPlayTube.SharedUI.Components.Video

<PageTitle>
    @Localizer![VideoArticleTextKey]
</PageTitle>

<FluentLabel Typo="Typography.H3">
    @Localizer![VideoArticleTextKey]
</FluentLabel>

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

@if (this.VideoInfoModel != null)
{
    <VideoAuthorizeView VideoInfoModel="@this.VideoInfoModel" CancellationTokenSource="@this.cancellationTokenSource">
        <AuthorizedContent>
            @if (this.VideoInfoId.HasValue)
            {
                <FluentAccordion>
                    <FluentAccordionItem Expanded="true">
                        <VideoActions context="this.VideoInfoModel" OnVideoDeleted="LoadDataAsync"></VideoActions>
                    </FluentAccordionItem>
                </FluentAccordion>
            }

            <FluentButton Type="ButtonType.Button" OnClick="CreateLinkedInArticleAsync">
                @Localizer![ReCreateArticleTextKey]
            </FluentButton>

            <div>
                @if (!String.IsNullOrWhiteSpace(this.LinkedInArticleDraftText))
                {
                    <p>
                        @((MarkupString)this.LinkedInArticleDraftText)
                    </p>
                }
            </div>
        </AuthorizedContent>
    </VideoAuthorizeView>
}