@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> localizer

<FluentMainLayout NavMenuWidth="400">
    <Header>
        <FluentLabel Typo="Typography.H3" Alignment="HorizontalAlignment.Center">
            @nameof(FairPlayTube)
        </FluentLabel>
    </Header>
    <SubHeader>
        <FluentLabel Typo="Typography.H2" Alignment="HorizontalAlignment.Center">
            @localizer[ApplicationSubHeaderTextKey]
        </FluentLabel>
    </SubHeader>
    <Body>
        <AuthorizeView>
            <Authorized>
                <FairPlayTube.Components.SignalR.UserMessageNotification></FairPlayTube.Components.SignalR.UserMessageNotification>
            </Authorized>
        </AuthorizeView>
        @Body
    </Body>
    <NavMenuContent>
        <NavMenu></NavMenu>
    </NavMenuContent>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentDesignTheme StorageName="theme" />

@code
{
    #region Resource Keys
    [ResourceKey(defaultValue: Constants.ApplicationTitles.FairPlayTube)]
    public const string ApplicationSubHeaderTextKey = "ApplicationSubHeaderText";
    #endregion Resource Keys
}