@using FairPlayCombined.Common.CustomAttributes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MainLayout> localizer

@inherits LayoutComponentBase


<FluentMainLayout NavMenuWidth="400">
    <Header>
        <FluentLabel Typo="Typography.H3" Alignment="HorizontalAlignment.Center">
            @localizer[AppTitleTextKey]
        </FluentLabel>
    </Header>
    <SubHeader>
        <FluentLabel Typo="Typography.H2" Alignment="HorizontalAlignment.Center">
            @localizer[AppSubtitleTextKey]
        </FluentLabel>
    </SubHeader>
    <Body>
        @Body
    </Body>
    <NavMenuContent>
        <NavMenu></NavMenu>
    </NavMenuContent>
</FluentMainLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider @rendermode="RenderMode.InteractiveServer" />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
@code
{
    [ResourceKey(defaultValue:nameof(FairPlayDating))]
    public const string AppTitleTextKey = "AppTitleText";
    [ResourceKey(defaultValue: "Your Open Source Dating Platform focused on users and transparency")]
    public const string AppSubtitleTextKey = "AppSubtitleText";
}