@implements IDisposable

@inject NavigationManager NavigationManager


<FluentNavLink Href="/">Home</FluentNavLink>
<AuthorizeView>
    <Authorized>
        <FluentNavGroup Title="Accounts" Expanded="@ShouldExpandAccountsGroup">
            <FluentNavLink Href="/Account/Manage">Manage Account</FluentNavLink>
        </FluentNavGroup>
        <FluentNavLink Href="/MyUserProfile">My User Profile</FluentNavLink>
        <FluentNavLink Href="/MyMatches">My Matches</FluentNavLink>
        <div class="nav-item px-3">
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="nav-link">
                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <FluentNavLink Href="Account/Register">Register</FluentNavLink>
        <FluentNavLink Href="Account/Login">Login</FluentNavLink>
    </NotAuthorized>
</AuthorizeView>


@code {
    private string? currentUrl;
    private bool ShouldExpandAccountsGroup => this.NavigationManager.Uri.IndexOf("/Account") >= 0;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

