@page "/Account/Login"
@using FairPlayTube.ClientServices.KiotaClient
@using FairPlayTube.ClientServices.KiotaClient.Models
@using FairPlayTube.MAUI.Authentication
@using FairPlayTube.MAUI.Helpers
@using Microsoft.Kiota.Abstractions
@using System.Net
<h3>Login</h3>

<EditForm Model="this.loginRequest" OnValidSubmit="OnValidSubmitAsync">
    <div class="mb-3">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText class="form-control" @bind-Value="this.loginRequest.Email"></InputText>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <InputText class="form-control" @bind-Value="this.loginRequest.Password" type="password"></InputText>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Login</button>
    </div>
</EditForm>

@code {
    [Inject(Key = "AnonymousApiClient")]
    private ApiClient? apiClient { get; set; }
    [Inject]
    private NavigationManager? navingationManager { get; set; }
    [Inject] AuthenticationStateProvider? authenticationStateProvider { get; set; }
    private readonly LoginRequest loginRequest = new();

    private async Task OnValidSubmitAsync()
    {
        try
        {
            var customAuthProvider = authenticationStateProvider as CustomAuthenticationStateProvider;
            await customAuthProvider!.LoginAsync(this.loginRequest);
            StateHasChanged();
        }
        catch (ApiException apiEx)
        {
            if (apiEx.ResponseStatusCode == (int)HttpStatusCode.Unauthorized)
            {
                await Application.Current!.Windows[0].Page!.DisplayAlert("Unable to login",
                "Unable to login, please make soure you are using the correct credentials",
                "OK");
            }
        }
        catch (Exception ex)
        {
            await Application.Current!.Windows[0].Page!.DisplayAlert("Error", ex.Message, "OK");
        }
    }
}
